
h1 {
	padding-left: 10px;
	font-size: 400%;
	color: #eee;
	text-shadow: 1px 1px 2px #222;
}

.container {
	width: 60%;
	margin: 50px auto;
}

form { margin: 10px auto; }

input,
ul {
	background: #eee;
	border-radius: 2px;
	width: 100%;
	box-sizing: border-box;
}

input {
	padding: 10px 10px 10px 20px;
	border: 1px solid #ccc;
}

ul {
	list-style: square inside;
	padding: 10px;
}

.active { border: 1px solid #ccc; }

.inactive { display: none; }

li {
	padding: 10px;
	font-weight: 600;
	color: #34495e;
}

li:nth-child(odd) {
	background: #dadfe1;
	border-radius: 2px;
}

li > a {
	float: right;
	text-decoration: none;
	color: #22313f;
	font-weight: bold;
	transition: all .2s ease-in-out;
}

li > a:hover {
	font-size: 110%;
	color: #c0392b;
}